body {
    margin-top: 5rem;
    background: #0B3954;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}
li {
    text-align: left;
    list-style-type: none;
    line-height: 25px;
}
.header {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.perfil {
    border-radius: 50%;  
}
.content {
    width: 50%;
    margin: auto;
    text-align: justify;  
}
.contact {
    margin: 5px;
}
@media (max-width:1100px){
    .content{
        width: 90%;
    }
}